* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.Maincontainer {
    background: #d4d7dc;
    max-width: 450px;
    width: 100%;
    margin: 200px auto;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.ToDo-box {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 7px 5px #b5b0b0;
    box-shadow: 0px;
}

.inputbox {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 20px;
    background: #eeefef;
}

.inputbox input {
    width: 100%;
    border: none;
    font-family: sans-serif;
    background: transparent;
}

.inputbox:hover {
    background-color: #bcbbbb;
}

.inputbox input:focus {
    outline: none;
}


.icon {
    font-size: 1.5rem;
    padding: 20px;
}


#addicon {
    display: none;
}

.clckbutton {
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    color: rgb(189, 187, 187);
}


hr {
    border: none;
    border-top: 0.5px solid hsl(0, 0%, 85%);
}


.itemlist li {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    margin: 7px;
    padding-left: 30px;
    font-size: 15px;
    font-family: Arial;
    cursor: pointer;
    word-break: break-all;
}


.itemlist li .del {
    position: absolute;
    right: -30px;
}


.itemlist li:hover .del {
    right: 0px;
    transition: all 0.5s ease-in-out;
}


.pendingTasks {
    color: hsl(0, 1%, 56%);
    font-family: sans-serif;
    padding-right: 3px;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    color: rgb(105, 105, 105);
}


.box input {
    display: none;
}


.checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    outline:2px solid;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}


.box input:checked~.checkmark {
    background-color: rgb(255, 255, 255);
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.box .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid hsl(0, 0%, 2%);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.box input:checked~.checkmark:after {
    display: block;
}